In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('american_odds.sqlite')

In [4]:
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables_df = pd.read_sql_query(query, conn)

In [8]:
# Initialize an empty DataFrame to store the concatenated data
all_tables_data = pd.DataFrame()

# Iterate through the table names and read each table into a DataFrame
for index, row in tables_df.iterrows():
    table_name = '"' + row['name'] + '"'
    table_data = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)

    # Add a 'table_name' column to identify the source table of each row
    table_data['table_name'] = table_name

    # Append the table data to the all_tables_data DataFrame
    all_tables_data = all_tables_data.append(table_data, ignore_index=True)

# Close the connection
conn.close()

C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)
C:\Users\cmacd\AppData\Local\Temp/ipykernel_17656/1052109207.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_tables_data = all_tables_data.append(table_data, ignore_index=True)

In [11]:
odds_full = all_tables_data[['Date','Home','Away','OU','Spread','ML_Home','ML_Away','Points','Win_Margin','table_name']]

In [12]:
odds_full

,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin,table_name
0,2021-22-1019,Milwaukee Bucks,Brooklyn Nets,240.5,0.0,-125.0,105,231,23,"""odds_2021-22"""
1,2021-22-1019,Los Angeles Lakers,Golden State Warriors,230.5,4.5,-160.0,140,235,-7,"""odds_2021-22"""
2,2021-22-1020,Charlotte Bobcats,Indiana Pacers,228.5,2.0,105.0,-125,245,1,"""odds_2021-22"""
3,2021-22-1020,Detroit Pistons,Chicago Bulls,220.5,2.5,190.0,-220,182,-6,"""odds_2021-22"""
4,2021-22-1020,Toronto Raptors,Washington Wizards,220.0,3.5,-140.0,120,181,-15,"""odds_2021-22"""
...,...,...,...,...,...,...,...,...,...,...
20155,2022-23-0310,Washington Wizards,Atlanta Hawks,236.5,-0.5,-106,-120,221,-7,"""odds_2022-23"""
20156,2022-23-0310,San Antonio Spurs,Denver Nuggets,237.0,-12.5,530,-750,248,8,"""odds_2022-23"""
20157,2022-23-0310,Miami Heat,Cleveland Cavaliers,211.5,3.0,-148,126,234,4,"""odds_2022-23"""
20158,2022-23-0310,Minnesota Timberwolves,Brooklyn Nets,226.0,4.5,-180,152,247,-1,"""odds_2022-23"""
20159,2022-23-0310,Los Angeles Lakers,Toronto Raptors,224.5,-3.0,128,-152,234,10,"""odds_2022-23"""